
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-md fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="index.html">
                <img src="../img/bloodmap.png" class="logo-top" width="200">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="active">
                        <a href="#login">LOGIN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Hero image-->
    <div class="jumbotron text-center">
        <div class="container">
        </div>
    </div>

    <!--Main section-->
    <section class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto text-center">
                    <h3 class="section-heading">¿WHAT IS BLOODMAP?</h3>
                    <p>Bloodmap is a country-wide database where patients looking for blood and blood donating
                        campaigns can connect with our registered blood donors.</p>
                    <h3 class="section-heading">¿HOW DOES IS IT WORK?</h3>
                    <p>Active <strong>blood donors</strong> have to register and create a profile. Once that is done, you will be
                        granted
                        access to a map where donation campaigns and patients are currently looking for blood.</p>
                    <p>A blood <strong>donation campaign</strong> can be set up by simply adding up the patient/campaign information.
                        Considering the location of the campaign, an alert with the details will be sent to the active
                        users.
                    </p>
                    <div>
                        <a class="btn btn-danger" href="../views/registration.html" id="main-btn" data-toggle="button"
                            aria-pressed="false" autocomplete="off">BLOOD DONORS</a>
                        <a class="btn btn-danger" href="../views/database.html" id="main-btn" data-toggle="button"
                            aria-pressed="false" autocomplete="off">DONATION CAMPAIGN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="counter">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="section-heading">REGISTERED DONORS:</h4>
                    {{examples.length}}
                    {{#each examples}}
                    <h5 class= "total-users" data-id="{{this.length}}">{{this.length}}</h5>
                    {{/each}}
                </div>
                <div class="col-md-6">
                    <h4 class="section-heading">ACTIVE CAMPAIGNS:</h4>
                    {{examples.length}}
                    {{#each examples}}
                    <h5 class= "total-campaigns" data-id="{{this.length}}">{{this.length}}</h5>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <footer class="footer" id="footer">
        <div class="container">
            <div class="row">
                <a class="col-md-5" href="index.html">
                    <img src="../img/bloodmap.png" class="logo-top" width="250">
                </a><br>
                <div class="col-md-4">
                    <h5 class="section-heading">PRIVACY POLICY</h5>
                    <h6 class="text-left" id="footer-text">Los datos ingresados en la página son recopilados por
                        Bloodmap para fines estadísticos y para prestar el servicio.
                        La publicación de los mismos corre a cargo del usuario y Bloodmap no se hace responsable de
                        este uso.</h6>
                </div><br>
                <div class="col-md-3">
                    <h5 class="section-heading">CONTACT</h5>
                    <h6><a href="#">hello@bloodmap.info</a></h6>
                </div>
            </div>
        </div>
        <h6 class="footer-copyright text-center py-3">© 2018 Bloodmap</h6>
    </footer>

</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
